* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'segoe ui', sans-serif;
    font-variant: no-common-ligatures proportional-nums;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

body, html, #root {
    height: 100%;
}